                        @font-face {
                            font-family: 'Tanha-FD';
                            src: url('../fonts/Tanha-FD.eot') format('eot'), url('../fonts/Tanha-FD.ttf') format('truetype'), url('../fonts/Tanha-FD.woff') format('woff'), url('../fonts/Tanha-FD.woff2') format('woff2');
                        }
                        
                        * {
                            padding: 0;
                            margin: 0;
                            box-sizing: border-box;
                            font-family: 'Tanha-FD';
                        }
                        
                         :root {
                            --mywhite: white;
                            --mypink: rgb(252, 126, 147);
                            --lightpink: rgb(238, 210, 215);
                        }
                        
                        @media screen and (max-width:900px) {
                            .navbar {
                                display: none;
                            }
                            .header {
                                height: 15vh;
                                background: black;
                            }
                            .cloud-box {
                                margin-top: 3%;
                            }
                            .menue .hamber {
                                display: flex;
                            }
                            .section2 .sec2-hed {
                                font-size: 1.5vw;
                            }
                            .section2 .probox .box {
                                height: 100%;
                                width: 300px;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                border-radius: 15px;
                                cursor: pointer;
                                position: relative;
                                margin: 5px;
                            }
                            .section2 .probox .box p {
                                font-size: 2vw;
                            }
                            .section2 .probox .box span {
                                font-size: 1vw;
                            }
                            .section2 .probox .box .shopbox span {
                                font-size: 2vw;
                                margin-right: 5%;
                            }
                            .section2 .probox .box .shopbox a {
                                width: 30%;
                                height: 100%;
                                display: block;
                                text-decoration: none;
                                background-color: var(--mypink);
                                color: var(--mywhite);
                                text-align: center;
                                border-top-right-radius: 15px;
                                border-bottom-left-radius: 15px;
                                font-size: 2vw;
                            }
                            /**/
                            .section5 .sec5-hed {
                                font-size: 1.5vw;
                            }
                            .section5 .probox-5 .box-5 {
                                height: 100%;
                                width: 300px;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                border-radius: 15px;
                                cursor: pointer;
                                position: relative;
                                margin: 5px;
                            }
                            .section5 .probox-5 .box-5 p {
                                font-size: 2vw;
                            }
                            .section5 .probox-5 .box-5 span {
                                font-size: 1vw;
                            }
                            .section5 .probox-5 .box-5 .shopbox span {
                                font-size: 2vw;
                                margin-right: 5%;
                            }
                            .section5 .probox-5 .box-5 .shopbox a {
                                width: 30%;
                                height: 100%;
                                display: block;
                                text-decoration: none;
                                background-color: var(--mypink);
                                color: var(--mywhite);
                                text-align: center;
                                border-top-right-radius: 15px;
                                border-bottom-left-radius: 15px;
                                font-size: 2vw;
                            }
                            .footer .container .easyacess span {
                                font-size: 1.8vw;
                            }
                            .footer .container .easyacess ul li {
                                padding: 2% 0;
                            }
                            .footer .container .easyacess ul li a {
                                text-decoration: none;
                                color: var(--mywhite);
                                font-size: 1.5vw;
                            }
                            .footer .container .conect span {
                                border-bottom: 2px solid var(--mypink);
                                font-size: 1.8vw;
                            }
                            .footer .container .conect ul {
                                width: 100%;
                                list-style: none;
                                margin-top: 5%;
                            }
                            .footer .container .conect ul li {
                                padding: 2% 0;
                                color: var(--mywhite);
                                font-size: 1.5vw;
                            }
                            .footer .container .conect .social {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                color: var(--mywhite);
                                width: 70%;
                                margin-top: 30%;
                            }
                            /* ////////////////////////////////////product-detail////////////////////////////// */
                            .info-container .main-info {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;
                                font-size: 5vw;
                            }
                        }